@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;800&family=Sriracha&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    font-family: "Nunito", sans-serif;
    * {
        box-sizing: initial;
    }
}

// Switches global styling
.custom-control-label {
    cursor: pointer;
}
.custom-control-input:focus {
    display: none;
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    border-color: transparentize($success, .7);
    background-color: transparentize($success, .7);
}
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: $success;
    background-color: $success;
}
.custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
    border-color: transparentize($success, .7);
    background-color: transparentize($success, .7);
}
