@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;800&family=Sriracha&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    font-family: "Nunito", sans-serif;
}
